In [1]:
import pandas as pd 
import numpy as np

In [33]:
df = pd.read_csv('RetailStoreProductSalesDataset.csv')
df.copy()

,count,price,discount,promotion_intensity,footfall,ad_spend,competitor_price,stock_level,weather_index,customer_sentiment,return_rate
0,0,45.197454,5.514259,4.062653,277.017484,2559.073870,44.255411,1176.981397,7.442194,1.021762,0.067388
1,1,49.327512,6.572035,4.964657,250.760714,2536.417155,50.331704,1219.359497,6.759510,0.975142,0.082719
2,2,47.328457,6.972713,4.363191,263.130478,2552.952356,49.285996,1263.822738,5.941689,0.871567,0.061600
3,3,50.964538,4.808234,3.577988,297.603918,2605.398826,46.839936,1182.435378,8.517014,1.071300,0.052215
4,4,44.530213,8.180216,4.966638,208.931691,2432.485683,45.336500,1178.513263,8.422473,1.068515,0.057975
...,...,...,...,...,...,...,...,...,...,...,...
14995,14995,48.678817,5.717455,4.677810,222.124916,2442.801795,51.858760,1209.017545,5.909208,1.026631,0.057630
14996,14996,51.772674,8.615611,4.447168,290.564343,2560.346196,49.173840,1205.732894,5.681816,1.055114,0.068922
14997,14997,33.666624,8.734818,4.514455,273.090808,2492.522828,35.617569,1184.565095,7.277372,0.960102,0.093527
14998,14998,39.035885,9.642838,5.254986,198.130411,2443.711915,45.317981,1206.886574,7.870118,0.976580,0.063466
14999,14999,48.144462,5.623887,4.414446,256.994418,2544.564445,44.962833,1224.826082,6.501532,0.903172,0.059589

In [23]:
df.head()

,count,price,discount,promotion_intensity,footfall,ad_spend,competitor_price,stock_level,weather_index,customer_sentiment,return_rate
0,0,45.197454,5.514259,4.062653,277.017484,2559.073870,44.255411,1176.981397,7.442194,1.021762,0.067388
1,1,49.327512,6.572035,4.964657,250.760714,2536.417155,50.331704,1219.359497,6.759510,0.975142,0.082719
2,2,47.328457,6.972713,4.363191,263.130478,2552.952356,49.285996,1263.822738,5.941689,0.871567,0.061600
3,3,50.964538,4.808234,3.577988,297.603918,2605.398826,46.839936,1182.435378,8.517014,1.071300,0.052215
4,4,44.530213,8.180216,4.966638,208.931691,2432.485683,45.336500,1178.513263,8.422473,1.068515,0.057975

In [24]:
pd.isnull(df).sum()

count                  0
price                  0
discount               0
promotion_intensity    0
footfall               0
ad_spend               0
competitor_price       0
stock_level            0
weather_index          0
customer_sentiment     0
return_rate            0
dtype: int64

In [25]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   count                15000 non-null  int64
 1   price                15000 non-null  float64
 2   discount             15000 non-null  float64
 3   promotion_intensity  15000 non-null  float64
 4   footfall             15000 non-null  float64
 5   ad_spend             15000 non-null  float64
 6   competitor_price     15000 non-null  float64
 7   stock_level          15000 non-null  float64
 8   weather_index        15000 non-null  float64
 9   customer_sentiment   15000 non-null  float64
 10  return_rate          15000 non-null  float64
dtypes: float64(10), int64(1)
memory usage: 1.3 MB

In [26]:
df.isnull().sum()
df.isnull().mean()

count                  0.0
price                  0.0
discount               0.0
promotion_intensity    0.0
footfall               0.0
ad_spend               0.0
competitor_price       0.0
stock_level            0.0
weather_index          0.0
customer_sentiment     0.0
return_rate            0.0
dtype: float64

In [27]:
df.duplicated().sum()

np.int64(0)

In [28]:
df.head()

,count,price,discount,promotion_intensity,footfall,ad_spend,competitor_price,stock_level,weather_index,customer_sentiment,return_rate
0,0,45.197454,5.514259,4.062653,277.017484,2559.073870,44.255411,1176.981397,7.442194,1.021762,0.067388
1,1,49.327512,6.572035,4.964657,250.760714,2536.417155,50.331704,1219.359497,6.759510,0.975142,0.082719
2,2,47.328457,6.972713,4.363191,263.130478,2552.952356,49.285996,1263.822738,5.941689,0.871567,0.061600
3,3,50.964538,4.808234,3.577988,297.603918,2605.398826,46.839936,1182.435378,8.517014,1.071300,0.052215
4,4,44.530213,8.180216,4.966638,208.931691,2432.485683,45.336500,1178.513263,8.422473,1.068515,0.057975

In [29]:
df.describe()

,count,price,discount,promotion_intensity,footfall,ad_spend,competitor_price,stock_level,weather_index,customer_sentiment,return_rate
count,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000
mean,7499.500000,49.956732,6.837203,4.136523,239.445517,2504.998502,50.000493,1193.310305,7.598516,0.965801,0.063421
std,4330.271354,11.686149,3.733815,1.435314,46.325019,89.961407,12.333737,28.146760,2.032408,0.130758,0.017703
min,0.000000,20.212604,0.000000,-1.049689,70.152377,2097.020336,16.656974,1083.677929,1.889509,-0.220674,0.000000
25%,3749.750000,41.289515,3.861480,3.288099,215.277581,2454.732256,40.924934,1174.319261,6.003253,0.897901,0.051708
50%,7499.500000,49.859890,6.813337,4.420697,251.341265,2518.736486,49.996544,1193.420041,7.602752,0.977009,0.063346
75%,11249.250000,58.659467,9.713206,5.227893,272.570188,2568.142658,58.859576,1212.020553,9.202837,1.049154,0.074673
max,14999.000000,79.248053,18.757707,6.966653,348.795219,2764.819228,85.804626,1301.090400,13.451735,1.347314,0.185994

In [37]:
df.drop('count',axis=1,inplace=True)

In [40]:
df.dtypes

price                  float64
discount               float64
promotion_intensity    float64
footfall               float64
ad_spend               float64
competitor_price       float64
stock_level            float64
weather_index          float64
customer_sentiment     float64
return_rate            float64
dtype: object

In [43]:
df = df.astype('int64')

In [50]:
df.head()

,price,discount,promotion_intensity,footfall,ad_spend,competitor_price,stock_level,weather_index,customer_sentiment,return_rate
0,45,5,4,277,2559,44,1176,7,1,0
1,49,6,4,250,2536,50,1219,6,0,0
2,47,6,4,263,2552,49,1263,5,0,0
3,50,4,3,297,2605,46,1182,8,1,0
4,44,8,4,208,2432,45,1178,8,1,0

In [57]:
df["discount"] > 0
df['return_rate'] == 0

0        True
1        True
2        True
3        True
4        True
         ...
14995    True
14996    True
14997    True
14998    True
14999    True
Name: return_rate, Length: 15000, dtype: bool

In [63]:
df.head()

,price,discount,promotion_intensity,footfall,ad_spend,competitor_price,stock_level,weather_index,customer_sentiment,return_rate
0,45,5,4,277,2559,44,1176,7,1,0
1,49,6,4,250,2536,50,1219,6,0,0
2,47,6,4,263,2552,49,1263,5,0,0
3,50,4,3,297,2605,46,1182,8,1,0
4,44,8,4,208,2432,45,1178,8,1,0

In [ ]:
check = df["stock_level"] % 1 != 0
check

0        False
1        False
2        False
3        False
4        False
         ...
14995    False
14996    False
14997    False
14998    False
14999    False
Name: stock_level, Length: 15000, dtype: bool

In [65]:
df['customer_sentiment'] <= 0

0        False
1         True
2         True
3        False
4        False
         ...
14995    False
14996    False
14997     True
14998     True
14999     True
Name: customer_sentiment, Length: 15000, dtype: bool

In [66]:
df.head()

,price,discount,promotion_intensity,footfall,ad_spend,competitor_price,stock_level,weather_index,customer_sentiment,return_rate
0,45,5,4,277,2559,44,1176,7,1,0
1,49,6,4,250,2536,50,1219,6,0,0
2,47,6,4,263,2552,49,1263,5,0,0
3,50,4,3,297,2605,46,1182,8,1,0
4,44,8,4,208,2432,45,1178,8,1,0

In [69]:
df['promotion_intensity'].corr(df['discount'])

np.float64(0.8605703697290131)